.bank-dashboard {
  position: absolute;
  justify-content: center;
  left: 16em;
  margin: 22px;
  width: 50%;
  padding: 20px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.bank-accounts-header {
  font-weight: bold;
}
.bank-accounts-header .total {
  padding: 8px;
  font-size: 20px;
  text-align: center;
}
.bank-accounts-header .accounts {
  padding: 8px;
  font-size: 18px;
}

.bank-button {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center; 
  align-items: center;
  position: relative;
  grid-auto-rows: 150px
}

.bank-account{
    width: 150px;
    height: 150px;
    margin: 12px;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
}

.bank-account:hover {
  /* cursor: pointer; */
  background-color: #ddd;
  transform: scale(1.1);
}

.bank-account p {
  margin: 2px;
  font-size: 20px;
  text-align: center;
}

.bank-icon {
  font-size: 45px;
  /* margin-bottom: 3px; */
  display: block;
  padding: 20px;
}

.bank-account .value {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
.bank-account .add-icon{
  font-size: 45px;
  /* margin-bottom: 3px; */
  display: block;
  padding: 20px;
  align-items: center;
  bottom: 40px;
}